@model ForumRowerowe.Models.Thread

@{
    ViewData["Title"] = "Usunięcie wątku";
}

<h1>Usuń</h1>

<div>
    <h4>Wątek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.authorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.authorID)
        </dd>
    </dl>
    <h3>Potwierdzasz usunięcie?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ThreadID" />
        <input type="submit" value="Tak - usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Nie - powrót do listy wątków</a>
    </form>
</div>
